@use "../abstract/" as *;

.hero {
  position: relative;
  width: 100%;
  min-height: 65rem;
  @include cover-background("./assets/mobile/image-hero.jpg");

  @include breakpoint-up(large) {
    @include cover-background("./assets/desktop/image-hero.jpg");

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color-background-dark, 0.4);
    }
  }

  @include breakpoint-up(xlarge) {
    aspect-ratio: 2.22/1;
  }

  & &__container {
    padding: 22.6rem 2.3rem 0;

    @include breakpoint-up(large) {
      @include center-block;
      padding: {
        top: 22.5rem;
      }
      max-width: 115.8rem;
      width: 100%;
    }
  }

  .content-container {
    position: relative;
    padding: 2.3rem {
      bottom: 1.7rem;
    }
    max-width: 38rem;
    width: inherit;
    border: 2px solid $color-background-default;
    transition: all 400ms ease;

    .text-container {
      margin: {
        top: 0.2rem;
      }
    }

    h1 {
      font-size: $font-size-500;
      text-transform: uppercase;
      line-height: 3.8rem;
      color: $color-text-light;
      transition: all 400ms ease;

      @include breakpoint-up(medium) {
        font-size: $font-size-600;
        line-height: 4.6rem;
      }
    }

    @include breakpoint-up(medium) {
      padding: 3.7rem 3.9rem 2.7rem;
      max-width: 65.2rem;

      h1 {
        font-size: $font-size-700;
        line-height: 7rem;
      }
    }
  }
}
