@use "../abstract/" as *;

.showcase {
  padding: 9.6rem 0 7.4rem;
  margin: {
    bottom: 9.6rem;
  }

  @include breakpoint-up(large) {
    padding: 18.4rem 0;
  }

  & &__container {
    @include center-block;
    max-width: 116.2rem;
    padding: 0 2.4rem;
    width: 100%;

    .showcase__header-title {
      margin: {
        bottom: 4.8rem;
      }

      h2 {
        text-align: center;
      }
    }

    @include breakpoint-up(small) {
      .showcase__header-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: {
          left: 0.1rem;
          bottom: 8rem;
        }
      }
    }
  }
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  @include breakpoint-down(medium) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint-down(small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint-down(xsmall) {
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }
}

.card {
  position: relative;

  & &__link-container {
    position: relative;
    display: block;
    width: 100%;
  }

  &__img-container {
    width: 100%;

    img {
      width: 100%;
      vertical-align: middle;
    }

    @include breakpoint-down(xsmall) {
      img.card-desktop-img {
        display: none;
      }
    }

    @include breakpoint-up(small) {
      img.card-mobile-img {
        display: none;
      }
    }
  }

  & &__title-label {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    margin: {
      bottom: 3.2rem;
      left: 4rem;
    }
    max-width: 16.9rem;

    &--wrap {
      width: 7.7rem;
    }

    h3 {
      font-size: $font-size-400;
      color: $color-text-light;
      line-height: 3.2rem;
    }

    @include breakpoint-down(medium) {
      max-width: 12.7rem;

      h3 {
        font-size: $font-size-300;
        line-height: 2.4rem;
      }
    }

    @include breakpoint-down(xsmall) {
      margin: {
        bottom: 2rem;
        left: 2rem;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 32rem;
    background-image: linear-gradient($color-linear-gradient-default);
    pointer-events: none;

    @include breakpoint-down(xsmall) {
      width: 24rem;
      height: 100%;
      background-image: linear-gradient(-90deg, $color-linear-gradient-default);
    }
  }

  &:hover {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: rgba($color-background-default, 0.7507);
      pointer-events: none;
    }

    .card__title-label h3 {
      color: $color-text-default;
    }
  }
}
