@use "../abstract/" as *;

body {
  font-family: $font-family-default;
  font-size: $font-size-200;
  font-weight: 400;
  color: $color-text-default;

  &.no-scroll {
    overflow: hidden;
  }
}

.h-wrapper {
  position: relative;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-headings;
  font-weight: 300;
}

h2 {
  font-size: $font-size-400;
  line-height: 3.2rem;

  @include breakpoint-up(medium) {
    font-size: $font-size-600;
    line-height: 4.8rem;
  }
}
